* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url("./img/images.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #item-list {
    list-style: none;
    padding: 0;
  }
  
  .item {
    background: #fff;
    padding: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn {
    cursor: pointer;
    color: #ff6347;
    margin-left: 10px;
  }
  